<div class="add-post-content">
    <div class="container">
            <div>
                <h3 class="new-post-title">
                    Create New Post
                </h3>
            </div>
            <hr>
            <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
                <div class="form-group">
                    <label class="post-title">Title</label>
                    <input [formControlName]="'title'" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <label class="post-content">Body</label>
                    <editor apiKey="93s3p23xug4wxkh4u2a77xh4rvaeqipsw61hqdf1i04puc6q" [formControlName]="'body'" [init]="{plugins: 'link'}"></editor>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
    </div>
</div> 